@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');

* {
    font-family: 'Lato', sans-serif !important;
}

.mg-left {
    margin-left: -5%;
}

.mg-bt {
    margin-bottom: 5%;
}
.white {
    color: white;
}

.black {
    color: black;
}

.blue {
    color: #0886B9;
}

.txt-center {
    text-align: center;
}

/*HEADER*/
.logo {
    width: 50%;
}

.mg-top-menu {
    margin-top: 3%;
}

.fd {
    background-image: url('../img/fondo.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}

article {
    margin-top: 5%;
}

aside {
    margin-top: 6%;
    margin-bottom: 5%;
}

.txt-principal {
    font-size: 290%;
}

.contac {
        margin: 5% 0;
    font-weight: bold;
}

.reloj {
    padding-top: 20px;
}

#pd-button {
    padding: 5% 41%;
    background-color: #0886B9;
    color: white;
}

#pd-button2 {
    margin-top: 5%;
    background-color: #0886B9;
    color: white;
    font-size: 150%;
    margin-bottom: 8%;
}

.mg-frase {
    margin-top: 3%;
}

.hover:hover {
    border: 1px solid #654B8D;
}

#hr {
    width: 10%;
    border: 1px solid #0886B9;
    margin-top: 3%;
    margin-bottom: 3%;
}

/*FOOTER*/
footer {
    background-color: black;
    color: white;
    text-align: center;
}

.encabezado-img {
    background-image: url('../img/edificio.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.mg-frase-footer {
    margin: 4% 0;
}
